// @use '../../scss/' as *;

.sidebar{    
    @apply  min-w-[250px] h-full overflow-hidden bg-white rounded-2xl mb:hidden;

    &__container{
        @apply relative h-full w-full flex flex-col justify-center items-center ;
        .sidebar-element{
            @apply  w-full;
            .sidebar-item{
                @apply relative transition-all flex justify-start items-center text-textColor text-base font-medium capitalize p-2 640:text-sm  mb-3 hover:tracking-widest ;
                transition:all .3s linear;
                i{
                    @apply text-3xl mr-4;
                }
                &>*{
                    @apply relative ;
                }
                &::before{
                    @apply absolute w-0 h-full rounded-r-full bg-gradient-to-tl from-[#699256] to-[#0a7718] top-0 left-0 z-0  ;
                    content:"";
                    transition:all .3s ease;
                }
                &.active{
                    @apply text-white tracking-widest;
                    &::before{
                        @apply delay-75 w-[150%] shadow-sm shadow-white;
                    }
                }
            }
        }
        
        .sidebar-user{
            @apply absolute flex flex-col items-center text-center top-0 left-0 w-full font-semibold bg-gradient-to-tl from-[#699256] to-[#0a7718] overflow-hidden text-white text-lg p-3;
            img{
                @apply mb-2 shadow-sm shadow-primary cursor-pointer  left-1/2 w-20 h-20 rounded-full object-cover ;
            }
        }  
        .sidebar-poster{
            @apply absolute h-36 bottom-0 left-0;
            img{
                @apply relative ;
            } 
            &:before {
                @apply absolute w-full h-full top-0 left-0 z-[2];
                content: "";
                background-image:linear-gradient(to top, rgba(10, 10, 10, 0.836),rgba(0, 0, 0, 0.26));
            }
        } 
    }
}