.player{
    @apply w-full h-full  flex flex-col justify-center items-center overflow-hidden;
    .btn-controler{
        @apply cursor-pointer text-textColor text-3xl hover:text-third font-extrabold active:scale-110
    }
    .music-stroke{
        @apply 640:opacity-0 mb:opacity-0   w-[2px] h-5 bg-third shadow-sm rounded-lg blur-[1px] ;
        transition:all .3s ease;
        background: linear-gradient(to right, #fdfc47, #24fe41);
        &.music-play{
            @apply  h-20 mb-sm:opacity-100 640:opacity-0;
            animation: musicAnimation .5s ease-in-out infinite alternate; 
        }
    }
}

@keyframes musicAnimation {
    0%{
        @apply h-20  
    }
    50%{
        @apply h-8  
    }

    100%{
        @apply h-2 
    }
   
}