.container {
    @apply p-8 
            w-[1280px] 
            h-3/4 
            border-1 
            bg-primary 
            rounded-3xl 
            shadow-2xl 
            flex 
            items-center 
            justify-between
            lg:h-4/5
            lg:justify-center
            lg:min-w-[90%]
            ;
    &__content{
        @apply 
                relative 
                z-0
                ml-[20px] 
                w-full
                h-full
                ;
        .top{
            @apply lg:flex-col lg:justify-between items-center ;
            .right{
                @apply 
                z-10
                h-full 
                w-full 
                grid
                gap-2
                1028:w-full
                640:w-full
                ;
                grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
                
            }
        }
    }
    &__break{
        @apply w-full h-[75%] flex gap-5 items-center;
        
    }
    .footer{
        @apply absolute bottom-0 w-full h-[144px] ;
    }
  }
  

//   flex 
//   flex-col 
//   gap-5
//   items-center 
//   justify-between  
//   1028:flex-col
//   640:flex-row
//   lg:flex-row
//   lg:w-full 
//   lg:gap-5
//   lg:justify-between